<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right d-md-none" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <img src="../../assets/images/logos/logo-desktop.png" width="175" />
        </div>
        <div class="list-group list-group-flush">
            <a routerLink="/dashboard/hotspot" class="list-group-item list-group-item-action bg-light"
                *ngIf="auth.isLoggedIn()">Dashboard</a>
            <a (click)="changeDateRange(dateRanges[0])" class="list-group-item list-group-item-action bg-light">Past 2
                Weeks</a>
            <a (click)="changeDateRange(dateRanges[1])" class="list-group-item list-group-item-action bg-light">Past
                Week</a>
            <a routerLink="/login" class="list-group-item list-group-item-action bg-light"
                *ngIf="!auth.isLoggedIn()">Login</a>
            <a (click)="auth.logout()" class="list-group-item list-group-item-action bg-light"
                *ngIf="auth.isLoggedIn()">Logout</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-md-none">
            <button class="navbar-toggler" id="menu-toggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div><b><span class="app-name1">COVID-19</span><span class="app-name2"> Hotspot Map</span></b></div>
        </nav>
        <div class="container-fluid" id="map-container">
            <div class="row align-items-center mt-4">
                <div class="col-auto mr-auto d-none d-md-block">
                    <div class="row">
                        <img class="mx-3" src="../../assets/images/logos/logo-pin-only.png" height="50" />
                        <h1><span class="app-name1">COVID-19</span><span class="app-name2"> Hotspot Map</span></h1>
                    </div>
                </div>
                <div class="col-auto d-none d-md-block">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{
                            selectedDateRange.value || "Select Date Range" }}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <div *ngFor="let dateRange of dateRanges;">
                                <button id="option" ngbDropdownItem (click)="changeDateRange(dateRange)">{{
                                    dateRange.value
                                    }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-none d-md-block">
                    <button class="btn btn-primary mr-2" routerLink="/dashboard"
                        *ngIf="auth.isLoggedIn()">Dashboard</button>
                    <button class="btn btn-primary" routerLink="/login" *ngIf="!auth.isLoggedIn()" id="map-login">Login</button>
                    <button class="btn btn-primary" (click)="auth.logout()" *ngIf="auth.isLoggedIn()">Logout</button>
                </div>
            </div>

            <div class="map-container">
                <div class="map-frame">
                    <div id="map"></div>
                    <div class="col map-message">
                        <div class="row">
                            <div class="col d-none d-lg-block"></div>
                            <div class="col">
                                <div class="alert alert-primary" role="alert" *ngIf="isFetching">
                                    <i class="fa fa-spinner fa-spin"></i> Fetching COVID-19 Hotspots
                                </div>
                                <div class="alert alert-info" role="alert" *ngIf="!isFetching && infoMessage != ''">
                                    <i class="fa fa-info-circle"></i> {{ infoMessage }}
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="!isFetching && errorMessage != ''">
                                    <i class="fa fa-exclamation-circle"></i> {{ errorMessage }}
                                </div>
                            </div>
                            <div class="col d-none d-lg-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>