<div class="container-fluid">

    <div class="vh-100 d-flex justify-content-center mt-5">

        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="text-center">
                <img routerLink="/map" src="../../assets/images/logos/logo-mobile.png" height="300" width="auto" />
            </div>
            <hr />
            <div class="text-center">
                <form [formGroup]="form" (ngSubmit)="login()">

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''">
                        <i class="fa fa-exclamation-circle"></i> {{ errorMessage }}
                    </div>
                    <div class="form-group text-left">
                        <input name="email" formControlName="email" class="form-control"
                            placeholder="Username or Email address"
                            [ngClass]="{'is-invalid': formControl.email.invalid && (formControl.email.touched || submitted),'is-valid': formControl.email.valid && (formControl.email.touched || submitted)}">
                        <span class="text-danger"
                            *ngIf="(formControl.email.touched || submitted) && formControl.email.errors?.required">
                            Username or Email address is required
                        </span>
                    </div>
                    <div class="form-group text-left">
                        <input name="password" formControlName="password" type="password" class="form-control"
                            placeholder="Password"
                            [ngClass]="{'is-invalid': formControl.password.invalid && (formControl.password.touched || submitted),'is-valid': formControl.password.valid && (formControl.password.touched || submitted)}">
                        <span class="text-danger"
                            *ngIf="(formControl.password.touched || submitted) && formControl.password.errors?.required">
                            Password is required
                        </span>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid || submitted"><i class="fa fa-spinner fa-spin" *ngIf="submitted"></i> Sign
                        in</button>

                </form>
            </div>
        </div>
    </div>

</div>