<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
          <img src="../../assets/images/logos/logo-desktop.png" width="175"/>
      </div>
      <div class="list-group list-group-flush">
        <a routerLink="/dashboard/hotspot" class="list-group-item list-group-item-action bg-light">Hotspots</a>
        <a routerLink="/map" class="list-group-item list-group-item-action bg-light">Map</a>
        <a (click)="logout()" class="list-group-item list-group-item-action bg-light">Logout</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="navbar-toggler" id="menu-toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav ml-auto mt-2 mt-lg-0">
            Hi, {{ username }}
        </div>
      </nav>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->